#window {
  border: 3px solid #494d64;
}

#input {
  padding: 8px 6px;
  margin: 16px;
  border-radius: 10px;
}

#entry {
  margin: 4px;
  padding: 8px;
  padding-left: 20px;
  outline: none;
  border-radius: 6px;
}

#entry:selected {
  font-weight: bold;
}

#text {
  margin-left: 15px;
}
